.robot {
  width: 250px;
  background: linear-gradient(
    90deg,
    rgba(37, 47, 98, 0.9990589985994398) 15%,
    rgba(24, 32, 85, 1) 41%,
    rgba(2, 0, 36, 1) 93%
  );
  color: rgb(238, 255, 0);
  border-radius: 50px;
  box-shadow: 1px 3px 15px 1px rgba(49, 60, 114, 0.673);
  margin-top: 30px;
  padding: 20px;
}

.robot__container {
  border: 1px solid rgb(238, 255, 0);
  border-radius: 50px;
  overflow: hidden;
  aspect-ratio: 1;
}

.robot__picture {
  height: 100%;
  width: 100%;
}

.robot__data-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  text-align: center;
}

.robot__data-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.robot__name {
  margin: 0;
  padding: 10px;
}
