.robot {
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 230px;
  gap: 10px;
  background: var(--secondaryColor);
  color: var(--white);
  border-radius: 30px;
  box-shadow: 1px 1px 1px 1px var(--white);
  padding: 20px;
}

.robot__container {
  border: 1px solid var(--white);
  border-radius: 30px;
  overflow: hidden;
  aspect-ratio: 1;
}

.robot__picture {
  height: 100%;
  width: 100%;
  aspect-ratio: 1;
}

.robot__data-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.robot__data-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 8px;
}

.robot__name {
  margin: 0;
  padding: 10px;
}

@media (min-width: 800px) and (max-width: 2440px) {
  .robot {
    flex-direction: row;
    width: 400px;
    height: 200px;
  }
}
