.robot {
  display: flex;
  width: 400px;
  height: 230px;
  gap: 10px;
  background: linear-gradient(
    90deg,
    rgba(37, 47, 98, 0.9990589985994398) 5%,
    rgb(48, 55, 101) 35%
  );
  color: rgb(238, 255, 0);
  border: 1px solid var(--black);
  border-radius: 50px;
  box-shadow: 2px 3px 15px 3px rgba(43, 51, 91, 0.673);
  padding: 20px;
}

.robot__container {
  border: 1px solid rgb(238, 255, 0);
  border-radius: 50px;
  overflow: hidden;
  aspect-ratio: 1;
}

.robot__picture {
  height: 100%;
  width: 100%;
}

.robot__data-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.robot__data-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 8px;
}

.robot__name {
  margin: 0;
  padding: 10px;
}
