.header {
  padding: 40px;
  color: var(--white);
  text-align: center;
  font-size: 1.2rem;
  background: rgb(37, 47, 98);
  background: linear-gradient(
    90deg,
    rgba(37, 47, 98, 0.9990589985994398) 15%,
    rgba(24, 32, 85, 1) 41%,
    rgba(2, 0, 36, 1) 93%
  );
}
