.form {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.from-control {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.options {
  display: flex;
  align-items: start;
  gap: 5px;
  font-size: 1.2rem;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--white);
}

input {
  border: none;
  border-radius: 5px;
  background: rgb(129, 132, 149);
  padding: 10px;
  color: var(--black);
}

.options__control {
  display: flex;
  align-content: space-around;
  gap: 5px;
  width: 20%;
}

.form__button-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.form__button {
  padding: 15px;
  color: var(--white);
  border-radius: 5px;
  background: rgb(129, 132, 149);
}
